data/timetable.dtd

<?xml version="1.0" encoding="UTF-8">

<!ELEMENT schedule(days, periods, courses)>

<!ELEMENT days(day)>

<!ELEMENT day(booking)>
<!ATTLIST day daysOfTheWeek #REQUIRED >

<!ELEMENT booking(time,course,room)>
<!ELEMENT time(#PCDATA)>
<!ELEMENT room(#PCDATA)>

<!ELEMENT course(courseName, teacher)>
<!ELEMENT courseName(#PCDATA)>
<!ELEMENT teacher(#PCDATA)>

<!ELEMENT periods(timeslot)>
<!ELEMENT timeslot(booking)>
<!ELEMENT courses(course)>

